body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Sans Ms';
    font-size: 30px;
    height: 100vh;
    background-color: beige;
}

canvas {
    border: 1px solid black;
    box-shadow: 0px 0px 20px 0px black;
}

.manuel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.manuel div {
    padding: 20px;
}

li{
    background-color: none;
    transition: 0.3s;
}

li:hover{
    background-color: red;
}

li li:hover{
    background-color: orange;
}

li li li:hover{
    background-color: yellow;
}

li li li li:hover{
    background-color: greenyellow;
}

li li li li li:hover{
    background-color: lightblue;
}

li li li li li li:hover{
    background-color: rgb(214, 106, 205);
}